// fonts
$font-family-primary: "Roboto", "Arial", sans-serif;
$font-size-default: 14px;
$line-height-default: 1.43;

// viewports
$desktop-width: 1200px;

// colors
$color-basic-gray: #efefef;
$color-basic-accent: #66c05d;
$color-basic-dark: #333333;

// sizes
$base-horizontal-padding: 45px;
