@use "../mixins";

.call-back {
  display: flex;
  align-items: center;
}

.call-back__number {
  margin-right: 40px;

  font-size: 1.14rem;
  line-height: 1.25;
  color: inherit;

  @include mixins.interactive-text;
}
