@use "../variables" as var;
@use "../mixins";

$-vehicle-icon: url("data:image/svg+xml,%3Csvg fill='%23fff' fill-opacity='.4' viewBox='0 0 189 62' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M39.85 45.74c-7.32 0-13.01 3.46-13.01 7.9 0 4.45 5.69 7.9 13 7.9 7.33 0 13.02-3.45 13.02-7.9 0-4.44-5.7-7.9-13.01-7.9ZM117.1.8h-6.5v9.63H135L117.1.8ZM.8 55.13h16.27s.81-14.82 24.4-14.82c17.48 0 20.33 14.82 20.33 14.82h40.66V.8H0l.81 54.33Zm153.7-9.39c-7.31 0-13 3.46-13 7.9 0 4.45 5.69 7.9 13 7.9 7.33 0 13.02-3.45 13.02-7.9 0-4.44-6.1-7.9-13.01-7.9Zm-15.44-32.6H110.6v41.99H135s-3.25-12.35 20.33-12.35c17.9 0 17.48 12.35 17.48 12.35h15.05l.81-18.53-49.6-23.46ZM135 45.24h-16.27v-4.93H135v4.94Zm-1.63-8.88-16.26-5.93V16.6h16.26l42.3 19.76h-42.3Z'/%3E%3C/svg%3E");

.catalog {
  position: relative;

  background-image: $-vehicle-icon;
  background-repeat: no-repeat;
  background-size: 189px 62px;
  background-position: top right 90px;
}

.catalog__title {
  margin: 0;
  margin-bottom: 38px;
  font-size: 1.72rem;
}

.catalog__list {
  @include mixins.list-style-reset;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var.$catalog-card-width, 1fr));
  gap: var.$grid-gap-default;
}
